# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
g_key = 'YOUR KEY HERE'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [50]:
City_Data = "../output_data/CityData.csv"
CityData = pd.read_csv(City_Data)
CityData

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed
0,0,Izazi,TZ,-7.2000,35.7333,64.40,88,1,2.19
1,1,Mujiayingzi,CN,42.1167,118.7833,29.80,30,0,2.62
2,2,Qaanaaq,GL,77.4840,-69.3632,1.98,74,98,2.64
3,3,Kaputa,ZM,-8.4689,29.6619,67.08,86,100,3.18
4,4,Vaini,TO,-21.2000,-175.2000,78.80,78,20,11.50
...,...,...,...,...,...,...,...,...,...
565,565,Takāb,IR,36.4009,47.1133,41.05,74,26,2.91
566,566,Ialibu,PG,-6.2821,143.9935,56.98,97,100,1.23
567,567,Luxor,EG,25.6989,32.6421,71.60,43,0,4.61
568,568,Lerwick,GB,60.1545,-1.1494,46.40,81,40,19.57
569,569,Bintulu,MY,3.1667,113.0333,73.40,94,20,2.30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [51]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [119]:
locations = CityData[['Lat','Lng']].astype(float)
humidity = CityData['% Humidity'].astype(float)


fig = gmaps.figure(layout={'width': '600px', 'height': '400px'}, center=(40, 0), zoom_level=1)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(), point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='400px', width='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [103]:
IdealTemp = CityData['Max Temp'].between(65,85,inclusive=True)
IdealHum = CityData['% Humidity'] < 85
IdealClouds = CityData['Cloudiness'].between(0,20,inclusive=True)
IdealWind = CityData['Wind Speed'] < 10
IdealCityData = CityData[IdealTemp & IdealHum & IdealClouds & IdealWind] 
IdealCityData.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed
25,25,Tessalit,ML,20.1986,1.0114,74.64,14,0,6.49
29,29,Saint-Pierre,RE,-21.3393,55.4781,75.20,69,0,6.91
57,57,Busselton,AU,-33.6500,115.3333,65.73,58,0,2.10
69,69,Beloha,MG,-25.1667,45.0500,74.93,75,0,9.42
86,86,Ahipara,NZ,-35.1667,173.1667,66.72,62,11,9.84
87,87,Lebowakgomo,ZA,-24.2000,29.5000,68.00,52,0,4.61
88,88,Puerto Ayora,EC,-0.7393,-90.3518,82.40,78,20,9.22
128,128,Saint-Philippe,RE,-21.3585,55.7679,75.20,69,0,6.91
135,135,Douentza,ML,14.9951,-2.9517,75.29,16,0,5.77
179,179,Natchez,US,31.5604,-91.4032,75.20,83,1,8.16

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [110]:


hotel_df = IdealCityData.copy()

hotel_df['Hotel Name'] = ''
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed,Hotel Name
25,25,Tessalit,ML,20.1986,1.0114,74.64,14,0,6.49,
29,29,Saint-Pierre,RE,-21.3393,55.4781,75.20,69,0,6.91,
57,57,Busselton,AU,-33.6500,115.3333,65.73,58,0,2.10,
69,69,Beloha,MG,-25.1667,45.0500,74.93,75,0,9.42,
86,86,Ahipara,NZ,-35.1667,173.1667,66.72,62,11,9.84,
...,...,...,...,...,...,...,...,...,...,...
541,541,Coahuayana Viejo,MX,18.7333,-103.6833,78.80,57,20,8.05,
547,547,Pārvatipuram,IN,18.7833,83.4333,69.84,79,0,1.54,
550,550,Yārāda,IN,17.6500,83.2667,77.02,77,0,4.25,
562,562,Dangara,IN,29.6799,75.8931,65.88,33,0,3.44,
567,567,Luxor,EG,25.6989,32.6421,71.60,43,0,4.61,

In [172]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {
    'radius': 5000,
    'type': 'hotel',
    'key': g_key
}

#base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.952583,-75.16522&radius=5000&type=hotel&key=AIzaSyDQKxpvxL16N4GNiQpJ9QVtvqVpN1UJVME'

for index, row in hotel_df.iterrows():
    
    #Get locations from dataframe
    Lat = row['Lat'] 
    Lng = row['Lng']
    location = f'{Lat},{Lng}'
    params['location']=location
    
    response = requests.get(base_url,params=params).json()
    #response = requests.get(base_url).json()
    results = response['results']
    
    try:
        
        print(f"Hotel found is {results[1]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[1]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Hotel found is Tessalit Referral Health Centre.
------------
Hotel found is Alizé Plage.
------------
Hotel found is Observatory Guest House.
------------
Hotel found is Beloha Hospital.
------------
Hotel found is Ahipara Holiday Park.
------------
Hotel found is Sunaru Security And Projects.
------------
Hotel found is Finch Bay Galapagos Hotel.
------------
Hotel found is Chambres d'hôte "La Trinité".
------------
Hotel found is Marché de Douentza.
------------
Hotel found is Hampton Inn & Suites Natchez.
------------
Hotel found is Codrington Nursery.
------------
Hotel found is Bandhan Bank.
------------
Hotel found is ACUMEN ONLINE CONSULTANCY / ONLINE RESERVATION COUNTER.
------------
Hotel found is Ha.Atoll Council Office.
------------
Hotel found is HS Hotsson Smart Acapulco.
------------
Hotel found is Gîte kajeon.
------------
Hotel found is Saeeda Maternity.
------------
Hotel found is Mairie de Moindou.
------------
Hotel found is Hotel Tesoro Los Cabos.
------------
Hotel found is PESQUEIRO PANTANAL.
------------
Hotel found is Conseil cercle.
------------
Hotel found is Secretariat of North Maalhosmadulu Atoll Council.
------------
Hotel found is โรงแรม ริเวอร์ ฟร้อนท์.
------------
Hotel found is Majestic Oasis Apartments.
------------
Hotel found is Kieta Wharf.
------------
Hotel found is Consumer Court.
------------
Hotel found is Ampanihy - Ouest Hospital.
------------
Hotel found is Imagination Island.
------------
Hotel found is All India Radio Kavaratti.
------------
Hotel found is Cititel Penang.
------------
Hotel found is Moon light Furnished Units.
------------
Hotel found is Belmonte Lighthouse.
------------
Hotel found is Portobali Hotel.
------------
Hotel found is Centro Cultural Joicy V. Bartra.
------------
Hotel found is Megacable Comunicaciones.
------------
Hotel found is HAKEAM DIBO.
------------
Hotel found is Fengmen'ao Tunnel.
------------
Hotel found is Ramdev photostat & stationars.
------------
Hotel found is Kolokani.
------------
Hotel found is Barentu Mosque.
------------
Hotel found is esahulat 65803.
------------
Hotel found is InterContinental Riyadh.
------------
Hotel found is Mega Space.
------------
Hotel found is Bank Maluku Tual.
------------
Hotel found is Embassy Suites by Hilton Hot Springs Hotel & Spa.
------------
Hotel found is Mousa Khail oil agency.
------------
Hotel found is Erlyn’s Sta Rosa City Home.
------------
Hotel found is Agricola Bay Hermanos.
------------
Hotel found is "Plantation Bed and Breakfast.
------------
Hotel found is Hotel Caraíva.
------------
Hotel found is Xasaasi Media.
------------
Hotel found is HAMDAN PLAZA HOTEL SALALAH.
------------
Hotel found is Bonthe Holiday Village.
------------
Hotel found is Hotel Mirage.
------------
Hotel found is Forte Oil - Abonnema.
------------
Hotel found is Hospital de Primer Contacto Tomatlan.
------------
Hotel found is Hotel les Arcades.
------------
Hotel found is Chonita Bananas.
------------
Hotel found is SBI ATM.
------------
Hotel found is VVZ.
------------
Hotel found is BHARAT WOOD WORKS TOHANA.
------------
Hotel found is Mut Temple.
------------

In [176]:


hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed,Hotel Name
25,25,Tessalit,ML,20.1986,1.0114,74.64,14,0,6.49,Tessalit Referral Health Centre
29,29,Saint-Pierre,RE,-21.3393,55.4781,75.20,69,0,6.91,Alizé Plage
57,57,Busselton,AU,-33.6500,115.3333,65.73,58,0,2.10,Observatory Guest House
69,69,Beloha,MG,-25.1667,45.0500,74.93,75,0,9.42,Beloha Hospital
86,86,Ahipara,NZ,-35.1667,173.1667,66.72,62,11,9.84,Ahipara Holiday Park
87,87,Lebowakgomo,ZA,-24.2000,29.5000,68.00,52,0,4.61,Sunaru Security And Projects
88,88,Puerto Ayora,EC,-0.7393,-90.3518,82.40,78,20,9.22,Finch Bay Galapagos Hotel
128,128,Saint-Philippe,RE,-21.3585,55.7679,75.20,69,0,6.91,"Chambres d'hôte ""La Trinité"""
135,135,Douentza,ML,14.9951,-2.9517,75.29,16,0,5.77,Marché de Douentza
179,179,Natchez,US,31.5604,-91.4032,75.20,83,1,8.16,Hampton Inn & Suites Natchez

In [174]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [175]:
locations = hotel_df[['Lat','Lng']].astype(float)
humidity = hotel_df['% Humidity'].astype(float)





fig = gmaps.figure(layout={'width': '600px', 'height': '400px'}, center=(40, 0), zoom_level=1)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(), point_radius = 3)

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='blue',
    stroke_color='blue', scale=1,
    info_box_content=hotel_info)






fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='400px', width='600px'))